    /*global*/
    * {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif; }
    
    html {
        font-size: 62.5%; }
    
    a {
        text-decoration: none;
        color: black; }
    
    li {
        list-style: none; }
    
    /*header*/
    header {
        height: 60px;
        width: 100%;
        position: fixed;
        background-color: #264653;
        top: 0;
        z-index: 1;
        font-size: 2rem;
        display: flex;
        justify-content: space-between; }
    
    header nav div a {
        font-size: 2rem; }
    
    header nav li a {
        display: inline;
        font-size: 1rem;
        list-style: none;
        margin-left: 1.5rem; }
    
    header nav li a:hover {
        background-color: #2a9d8f;
        font-size: 2.5rem;
        border-radius: 10%;
        transition: 0.7s; }
    
    header span img {
        height: 4rem;
        margin-left: 10px; }
    
    .nav {
        margin-right: 10px;
        background-color: rgba(38, 70, 83, 0.9); }
    
    .header__div--start {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
    
    .header__div--end {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
    
    .header__antiflex {
        margin-top: 70px; }
    
    /*header*/
    /*slogan index*/
    #slogan {
        text-align: center;
        font-size: 2.5rem;
        margin: 70px 0px; }
    
    #slogan blockquote {
        margin-top: 10px; }
    
    /*slogan index*/
    /*descripciones*/
    .div__descripciones {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 120px;
        font-size: 2.5rem;
        background-color: rgba(38, 70, 83, 0.9);
        width: 100%;
        margin: 30px 0px; }
    
    .icon {
        font-size: 5rem;
        margin: 20px 50px 20px 50px; }
    
    @media (max-width: 992px) {
        .div__descripciones {
        font-size: 2rem; }
        .icon {
        font-size: 4rem; } }
    
    @media (max-width: 768px) {
        .div__descripciones {
        font-size: 1.5rem; }
        .icon {
        font-size: 3.5rem; } }
    
    @media (max-width: 576px) {
        .div__descripciones {
        font-size: 1.3rem; }
        .icon {
        font-size: 3rem; } }
    
    /*descripciones*/
    /*productos*/
    #productos {
        display: flex;
        justify-content: space-around;
        align-items: center; }
    
    .div__productos {
        border-color: black;
        border-width: 1px;
        border-style: solid;
        height: 336px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #2a9d8f; }
    
    .div__productos--container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 2rem;
        margin: 0px; }
    
    .div__productos--ul {
        font-size: 2rem;
        background-color: white; }
    
    .col-lg-3 {
        padding: 0px; }
    
    .col-sm-12 {
        margin: 10px 0px 0px 0px; }
    
    .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap; }
    
    section div div ul {
        font-size: 2rem;
        background-color: white; }
    
    /*productos*/
    /*footer*/
    #footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;
        background-color: #2a9d8f;
        width: 100%;
        height: 70px;
        margin-top: 40px;
        margin-right: 20px;
        border: 0ch; }
    
    @media (max-width: 992px) {
        #footer {
        font-size: 1.7rem; } }
    
    @media (max-width: 768px) {
        #footer {
        font-size: 1.5rem; } }
    
    @media (max-width: 576px) {
        #footer {
        font-size: 1.3rem; } }
    
    /*footer*/
    /*contacto*/
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: #264653;
        font-size: 1.5rem;
        margin-top: 30px; }
    
    .section__p--modificador {
        font-size: 2rem;
        text-align: center;
        margin: 20px 0px; }
    
    /*contacto*/
    /*Mas informacion*/
    #informacion {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        margin: 20px 10px; }
    
    #ubicacion {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: 3rem; }
    
    #ubicacion iframe {
        height: 400px;
        width: 400px;
        margin-top: 20px; }
    
    #video div iframe {
        margin: 20px 40px;
        height: 400px;
        width: 400px; }
    
    #video {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 3rem;
        background-color: #264653; }
    
    @media (max-width: 992px) {
        #informacion {
        font-size: 1.7rem; }
        #ubicacion {
        font-size: 2.5rem; }
        #ubicacion iframe {
        height: 350px;
        width: 350px; }
        #video div iframe {
        height: 350px;
        width: 350px; }
        #video {
        font-size: 2.5rem; } }
    
    @media (max-width: 768px) {
        #informacion {
        font-size: 1.5rem; }
        #ubicacion {
        font-size: 2rem; }
        #ubicacion iframe {
        height: 300px;
        width: 300px; }
        #video div iframe {
        height: 300px;
        width: 300px; }
        #video {
        font-size: 2rem; } }
    
    @media (max-width: 576px) {
        #informacion {
        font-size: 1.3rem; }
        #ubicacion {
        font-size: 1.7rem; }
        #ubicacion iframe {
        height: 250px;
        width: 250px; }
        #video div iframe {
        height: 250px;
        width: 250px; }
        #video {
        font-size: 1.7rem; } }
    